 @media all {
        body {
            font-size: 100px;
        }
    }

    @media screen, print, handheld {
        body {
            background-color: #ffc;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }

    @media screen {
        body {
            color: #00f;
        }
        p {
            text-decoration: underline;
        }
    }

    @media print, handheld {
        body{
            color: #000;
        }
    }